.changeCellColor{
    background-color:rgb(219, 235, 240);
}
.cellColorRegular{
    background-color:white;
}
.changeCellColorVacation{
    background-color: rgb(223, 189, 189);
}

.nocolor{
    background-color: rgb(219, 235, 240);
    background-image: none;
}