#Search {
    background-image: url("../pictures/searchB.jpg");
    background-repeat: no-repeat;
    overflow-y: hidden;
    overflow-x: hidden;
    background-size: cover;
    height: auto !important;
    min-height: 1000px;
    color: #111;
    font-family: impact;
}
.fa-search{
    width: auto;
}
.labelss{
  padding-right:inherit;
  font-size: larger;
}

.search{	
  margin: 35px 35%;
  width: 300px;

}

.issue{	
  margin: 35px 35%;
}

.filtrate{	
  margin: 35px 35%;
  width: 25%;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color:black;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color:#111;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: black;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color:black;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

#dropdown{
  font-family: impact;
  width: 100px;
}

#caret{
  margin: 35px 35%;
  width: 100%;
}

.prvi{
  font-size: 20px;
  cursor: pointer;
  color:black;
  border:black;
  


}